@charset "UTF-8";

@import 'vendor/normalize';

.svg-inline--fa {
  font-size: 1.25rem;
}
.group-label {
  color: #00b073;
  font-size: .625rem;
  font-weight: 500;
  padding: 5px 1rem;
  text-transform: uppercase;
}

.form-page>.form-page-header {
  font-size: 2.2em;
  padding: 2rem 0;
  font-weight: lighter;

}

h1 {
  font-size: 2.2em;
  color: white;
  font-family: Source Sans Pro,sans-serif;
  font-weight: lighter;
}
